 body {
     color: white;
     background-size: cover;
 }
 
 #closepopup {
     color: white;
 }
 
 h1 {
     font-weight: bold;
     background-color: rgba(0, 0, 0, 0.308);
     padding: 20px;
     width: 100%;
 }
 
 #openpopupbtn {
     float: right;
     margin-left: -75px;
 }
 
 canvas {
     margin-top: 30px;
     border-radius: 15px;
     animation-name: colorfulshadow;
     animation-duration: 3s;
     animation-iteration-count: infinite;
 }
 
 @keyframes colorfulshadow {
     from {
         box-shadow: 5px 5px 60px rgb(137, 2, 248);
     }
     to {
         box-shadow: 5px 5px 60px rgb(248, 2, 146)
     }
 }
 
 #clearcanvas {
     margin-top: 460px;
 }